<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp4.Properties.Settings.BankConnectionString"
            connectionString="Data Source=DESKTOP-9PI690J;Initial Catalog=Bank;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp4.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-9PI690J;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>